* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
/* sectionOne  */
.homePage {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.807),
      rgba(255, 255, 255, 0.807)
    ),
    url(../images/img1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 100px;
  overflow-x: hidden;
}
.bg {
  width: 100%;
  background-color: hsl(45, 99%, 50%);
  height: 40px;
  border-radius: 0 0 12% 5%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 20px auto 100px auto;
}
.logo {
  width: 25%;
}
.navlinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
}
.navbar a:hover {
  color: hsl(45, 99%, 50%);
  transition: 0.4s ease-in-out;
}
.navbar i:hover {
  color: hsl(45, 99%, 50%);
  transition: 0.4s ease-in-out;
}
.navbar h1 {
  font-size: 2.5rem;
  color: hsl(0, 0%, 21%);
}
.navbar a,
i {
  color: hsl(0, 0%, 21%);
  cursor: pointer;
}
.homePage .item {
  display: flex;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  gap: 30px;
}
.homePage .item1 {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 40%;
}
.homePage .item1 h1 {
  font-size: 7vw;
}
.btn {
  display: flex;
  gap: 20px;
}
.button {
  border-radius: 100px;
  border: none;
  background-color: hsl(0, 0%, 21%);
  color: white;
  font-weight: bold;
  width: 100%;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
}
.button:hover {
  background-color: hsl(45, 99%, 50%);
  transition: 0.4s ease-in-out;
}
.homePage .item2 {
  display: flex;
  gap: 30px;
  width: 60%;
}

.homePage .item2 img {
  width: 50%;
}
/* contactUsPage */
.contactUsPage {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: hsl(45, 99%, 50%);
  padding: 70px 0;
}
.contactUsPage h1 {
  font-size: 3.5vw;
  padding-bottom: 10px;
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  width: 90%;
  margin: 50px auto;
  gap: 20px;
}
.form {
  display: flex;
  width: 100%;
  gap: 20px;
}
.inputItem {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 100px;
  padding: 20px 30px;
}
.inputItem2 {
  width: 100%;
  border: none;
  border-radius: 100px;
  height: 80px;
  padding: 20px 30px;
}
.button2 {
  border-radius: 100px;
  border: none;
  background-color: hsl(0, 0%, 21%);
  color: white;
  font-weight: bold;
  width: 20%;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: center;
}
.button2:hover,
.button5:hover {
  background-color: hsl(45, 99%, 50%);
  transition: 0.6s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* servicesPage*/
.servicesPage {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  padding: 70px 0;
  width: 100%;
  gap: 30px;
}
.servicesPage h1 {
  font-size: 3.5vw;
  padding-bottom: 10px;
}
.services {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  gap: 30px;
}

.service {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
}
.button3,
.button5 {
  border-radius: 100px;
  border: none;
  background-color: hsl(0, 0%, 21%);
  color: white;
  font-weight: bold;
  width: 55%;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: center;
}
.service:hover img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.6s ease-in-out;
}
.service:hover .button3 {
  background-color: hsl(45, 99%, 50%);
  transition: 0.6s ease-in-out;
}

.service img {
  width: 100%;
}
/* ourPricingPage*/
.ourPricingPage {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: hsl(0, 0%, 18%);
  padding: 70px 0;
  gap: 20px;
}
.ourPricingPage h1 {
  font-size: 4vw;
  color: #fff;
}
.ourPricingPage p {
  color: #fff;
}
.contain {
  display: flex;
  width: 90%;
  margin: 0 auto;
  gap: 30px;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}
.contain .whiteContainer {
  background-color: #fff;
  width: 40%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}
.whiteContainer .yellowContainer {
  background-color: hsl(45, 99%, 50%);
  width: 85%;
  height: 50vh;
  position: relative;
  bottom: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 30px;
}
.ourPricingPage .button3 {
  position: relative;
  top: 30px;
}
/* blogPage*/
.blogPage {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 70px 0;
  background-color: #fff;
  width: 100%;
  gap: 30px;
}
.blogPage h1 {
  font-size: 3.5vw;
  padding-bottom: 10px;
}
.blogs {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  gap: 30px;
}

.blog {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.blog img {
  width: 100%;
}
.dates {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.date {
  position: absolute;
  background-color: hsl(0, 0%, 18%);
  padding: 15px;
  color: #fff;
  font-weight: lighter;
  bottom: 0;
}
#date {
  position: absolute;
  background-color: hsl(45, 99%, 50%);
  padding: 15px;
  color: #fff;
  font-weight: lighter;
  bottom: 0;
}
.blogPage .button3 {
  margin: 0 auto;
  width: 70%;
  position: relative;
  top: 50px;
}
.blogPage .button3:hover,
.ourPricingPage .button3:hover {
  background-color: hsl(45, 99%, 50%);
  transition: 0.6s ease-in-out;
}
/* aboutUs */

.aboutUsPage {
  padding: 150px 0;
  background-color: hsl(45, 99%, 50%);
}
.ite_m {
  display: flex;
  align-items: center;
  width: 95%;
  gap: 70px;
}
.aboutUsPage .item1 {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-between;
}
.whiteItem {
  width: 30%;
  height: 60%;
  background-color: #fff;
  position: absolute;
}
.item1 img {
  position: relative;
  left: 20px;
  width: 100%;
}
.aboutUsPage .item2 {
  display: flex;
  align-items: flex-start;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.aboutUsPage h1,
.customerPage h1 {
  font-size: 3.5vw;
}
.button5 {
  width: 40%;
}
/* customerPage */
.customerPage {
  display: flex;
  align-items: center;
  padding: 120px 0;
  background-color: white;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}
.iteM {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  gap: 30px;
  margin: 0 auto;
}
.itemOne {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.itemOne p {
  color: hsl(45, 99%, 50%);
}
.itemTwo {
  border: 1px solid hsl(0, 0%, 18%);
  border-radius: 10px;
  padding: 0 30px;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* footerLinks */
.footerLinks {
  background-color: hsl(0, 0%, 18%);
  color: #fff;
  padding: 100px 0;
}
.footerLinkItems {
  display: flex;
  width: 90%;
  margin: 0 auto;
  gap: 30px;
}
.footerLinkItem {
  display: flex;
  gap: 30px;
  margin: 0 auto;
  width: 25%;
  flex-direction: column;
}
.link a {
  color: hsl(60, 4%, 58%);
}
.footLinkItem a:hover {
  color: hsl(45, 99%, 50%);
  transition: 0.3s ease-in-out;
}
.circledText {
  display: flex;
  align-items: center;
  gap: 5px;
}
.ellipse {
  width: 20px;
  height: 20px;
  background-color: hsl(45, 99%, 50%);
  border: none;
  border-radius: 100%;
}
.link {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.letter {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#email {
  width: 80%;
  height: 50px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
  padding: 15px;
  color: #fff;
}
.subscribe a {
  color: white;
}

.subscribe {
  border-radius: 5px;
  border: 2px solid white;
  background-color: hsl(45, 99%, 50%);
  color: white;
  font-weight: bold;
  width: 70%;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
}
.subscribe:hover {
  background-color: white;
  transition: 0.6s ease-in-out;
}
.letter i,
footer h2 {
  color: hsl(45, 99%, 50%);
}
.letter i p {
  color: white;
}
.i {
  display: flex;
  align-items: center;
  gap: 10px;
}
.i p,
a {
  color: hsl(60, 4%, 58%);
}
/* footer */
footer {
  background-color: #fff;
  padding: 100px 0;
}
.footerComponent {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}
.icons {
  display: flex;
  gap: 10px;
}
.icons .ellipse {
  background-color: hsl(0, 0%, 18%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}
.icons .ellipse:hover {
  background-color: hsl(45, 99%, 50%);
  transition: 0.6s ease-in-out;
}
.icons .ellipse i {
  color: white;
}
